body {
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;

  display: grid;
  grid-template-columns: repeat(3/1fr);
  grid-template-rows: 50px 1fr 1fr 100px;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-image: linear-gradient(to right, green, yellow);
}

.container div {
  background: rgba(135, 135, 250, 0.6);
  border-radius: 25px;
  color: white;
}

.header {
  grid-column-start: 1;
  grid-column-end: 4;

  background: rgb(79, 79, 187);
  box-shadow: 0 0.1rem 3rem black;

  border-radius: 25px;

  color: white;
  text-align: center;
  font-weight: bold;
}

.title{
  position:relative;
  top:25%;
}
.dev-diary {
  grid-row-start: 2;
  grid-row-end: span 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

h5{
  position:relative;
  left:50%;
} 
.basic-app1{
  grid-row-start: 2;
  grid-row-end: span 2;
  grid-column-start: 3;
  grid-column-end: 3;
}

img{
  height: 80%; 
  width: 80%; 
  object-fit: contain;
}

.monke-face{
  position:relative;
  top: 0px;
  left: 35px;
}

.monke-butt{
  position:relative;
  top: 0px;
  left: 35px;
}

.button {
  position:relative;
  left: 38%;

  object-fit: contain;

  font-weight: bold;

  background-image: url("https://media.istockphoto.com/vectors/banana-pattern-vector-id914067456?k=6&m=914067456&s=612x612&w=0&h=XC6uqtldkDaRIa8CPDPY12_D-eIIXMeI-3Hiqlo5N7c=");
}
.footer {
  grid-column: 1 / span 3;
}

.counter {
  position: relative;
  top: 20%;
  left: 40%;

  color: blanchedalmond;
  background-image: linear-gradient(to left, blue, black);

  text-align: center;

  width: 200px;
  height: 25px;
  border-radius: 25px;

  font-size: 16px;
}

.hidden {
  display: none;
}
